* {
  box-sizing: border-box;
}

@import './base.scss';

.post-box {
  @extend %basic-border;
  width: 500px;

  .post-header {
    @include flex(left, center, row);
    background-image: $gradient;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    height: 30px;
    padding: 0px 20px;
    border-bottom: 2px solid black;
  }
  section {
    height: 75px;
    padding: 10px;
  }
}

.liked {
  color: $third-color;
}