* {
  box-sizing: border-box;
}

$first-color: #ff9c39;
$second-color: #ff70a6;
$third-color: #ffd670;
$gradient: linear-gradient(to bottom right, $first-color, $second-color);

.dashboard {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}